* {
  box-sizing: border-box;
  padding: 0 0;
  font-size: 15px;
}

.header {
  height: 40px;
  background-color: #3266FF;
  box-shadow: -5px 5px 7px 0px black;
}

.header__title {
  margin: 10px;
  font-size: 30px;
  color: #FFFFFF;
  text-align: center;
}

.todo {
  padding: 0 20px;
}

.todo-form {
  display: block;
  width: 100%;
  padding: 20px 0px;
}

.todo-form__input {
  display: inline-block;
  width: 70%;
  height: 25px;
  padding-left: 5px;
  background: #f2f3ee;
}

.todo-form__button {
  display: inline-block;
  padding: 3px 10px;
  background-color: #3266FF;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 18px;
}

.todo-list {
  max-width: 50%;
  list-style-type: none;
  color: #ffffff;
}

.todo-list__item {
  background-color: #ff9800;
  margin-bottom: 10px;
}

.todo-list__title {
    display: inline-block;
    padding: 10px;
}

.todo-list__checkbox {
    float: right;
}

.todo-list__deleteButton {
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 20px;
  color: #f00;
  display: inline-block;
  font-size: 8px;
  height: 20px;
  line-height: 2px;
  margin: 10px;
  text-align: center;
  width: 20px;
  outline: none;
}

@media only screen and (max-width: 768px) {
    .todo-form__input, .todo-list {
        max-width: 100%;
    }
}
